﻿@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Christoc.Modules.SampleTesting.Models.Major>
    
<div>
    @if (Dnn.ModuleContext.IsEditable)
    {
        <h2>Module Name: </h2>
        @Html.TextBoxFor(m=>m.MajorName)
        @Html.HiddenFor(m=>m.ModuleId);
        <button type="submit" class="dnnPrimaryAction">Update</button>
    }
</div>