﻿@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Christoc.Modules.SampleTesting.Models.Major>>


<div>
    @if (Model.Count() == 0)
    {
        <p>No Item</p>
    }
    else
    {
        <ul>
            @foreach (var major in Model)
            {
                <li>
                    <a href="@Url.Action("Index","Student",new {id=major.MajorId})">@major.MajorName</a>
                    @{
                        if (Dnn.User.IsInRole("EditMajor") || Dnn.ModuleContext.IsEditable)
                        {
                            <a href="@Url.Action("Edit", "Major", new {ctl = "Edit", majorId = major.MajorId})"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a href="@Url.Action("Delete","Major",new{majorId = major.MajorId})"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        }
                    }
                </li>
                        }
        </ul>
                        }
    @{
        if (Dnn.User.IsInRole("AddMajor") || Dnn.ModuleContext.IsEditable)
        {
            <a href="@Url.Action("AddMajor","Major",new {ctl = "AddMajor" })" class="btn btn-warning">Add New Major</a>
        }
    }

</div>