﻿@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Christoc.Modules.SampleTesting.Models.Student>

<div>
    @if (Dnn.ModuleContext.IsEditable)
    {
        <h4>Student Name :</h4>
        @Html.TextBoxFor(s =>s.StudentName)
        <h4>Student Age :</h4>
        @Html.TextBoxFor(s => s.StudentAge)
        <h4>Student Address :</h4>
        @Html.TextBoxFor(s => s.StudentAddress)
        @Html.HiddenFor(s => s.ModuleId)
        @Html.HiddenFor(s=>s.MajorId )
        <button type="submit" class="dnnPrimaryAction">Add New Student</button>
    }
</div>
