﻿@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Christoc.Modules.SampleTesting.Models.Student>>
    

<div>
    @if (Model.Count() == 0)
    {
        <p> No Student</p>
    }
    else
    {
        <ul>
            @foreach (var student in Model)
            {
                <h3>Stuendt Name : @student.StudentName</h3>
                <h3>Student Age : @student.StudentAge</h3>
                <h3>Student Address : @student.StudentAddress</h3>
            }
        </ul>
    }
    @{
        if (Dnn.ModuleContext.IsEditable)
        {
            <a href="@Url.Action("AddStudent","Student",new {ctl = "AddStudent", id = ViewBag.ModuleId })" class="btn btn-warning">Add New Major</a>
        }
    }
</div>